<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>hookmanager</name>
            <displayName><![CDATA[Gestor de Hooks]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Gestiona los hooks de Prestashop f&aacute;cilmente.]]></description>
            <author><![CDATA[Victor Blanch]]></author>
            <tab><![CDATA[content_management]]></tab>
	<confirmUninstall>¿Está seguro de querer desinstalar?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>